{% extends "base_finance.html" %}
{% block title %}Finance{% endblock title%}
{% block content %}
<div id="main">
      <div class="row">
{#        <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>#}
        <div class="col s12">
          <div class="container">
            <div class="section">
                <div class="row">
                    <div class="col s12 m12 l6">
                        <div id="html-validations" class="card-panel">
                            <div class="card-content">
                                <div class="card-title">
                                    <div class="row">
                                        <div class="col s12 m6 l10">
                                            <h4 class="card-title">Add Allowances</h4>
                                        </div>
                                        <div class="col s12 m6 l2">

                                        </div>
                                    </div>
                                </div>
                                <div id="html-view-validations">
                                    <form class="formValidate0" id="formValidate0" method="POST" action="{{url_for('add_allowance')}}" enctype="multipart/form-data">
                                        <div class="row">
                                            <div class="input-field col s6">
                                            	<label for="first_input2" class="">Allowance Name</label>
                                                <input id="first_input2" type="text" class="validate"  required="required" name="a_type">
                                                 <span class="helper-text right-alert" data-error="Please enter a correct allowance name" data-success="success continue"></span>
                                                
                                            </div>
                                            
                                            <div class="input-field col s6">
                                            	<label for="c_event" >Description</label>
                                                <input class="validate" required="" id="c_event" type="text" name="descr">
                                                 <span class="helper-text right-alert" data-error="Please fill in the description" data-success="success continue"></span>
                                                
                                            </div>
                                         
                                            <div class="input-field col s12">
                                                <button class="btn cyan waves-effect waves-light left" type="submit" name="action">Submit
                                                    <i class="material-icons right">send</i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- START RIGHT SIDEBAR NAV -->
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m12 l6">
                        <div id="html-validations" class="card-panel">
                            <div class="card-content">
                                <div class="card-title">
                                    <div class="row">
                                        <div class="col s12 m6 l10">
                                            <h4 class="card-title">Compute Allowance(s)</h4>
                                        </div>
                                        <div class="col s12 m6 l2">

                                        </div>
                                    </div>
                                </div>
                                <div id="html-view-validations">
                                        <div class="row">
                                            <form class="formValidate0" id="formValidate0" method="POST" action="{{url_for('issue_allowance')}}" enctype="multipart/form-data">
                                            <div class="input-field col s12">
                                            	<label for="first_input2" class="">Employee Name </label><br>
                                               <select name="a_empname">
			                                    {% for evalu in serows %}
			                                      <option value="{{evalu[1]}}">{{evalu[9]}} {{evalu[10]}} {{evalu[11]}}</option>
			                                      {% endfor %}
			                                  </select>
                                                
                                            </div>
                                            <div class="input-field col s6">
                                                
                                                <label for="rep" >Allowance Name</label><br>
                                                <select name="a_type">
			                                    {% for a in arows %}
			                                      <option value="{{a[0]}}">{{a[0]}}</option>
			                                      {% endfor %}
			                                  </select>
                                            </div>
                                            <div class="input-field col s6">
                                            	<label for="end_date" class="">Amount</label><br>
                                                <input class="validate" required="required" id="end_date" type="text"  name="a_ammount" pattern="\d*">
                                                <span class="helper-text right-alert"  data-error="Please enter correct price." data-success="Perfect!"></span>
                                                
                                            </div>
                                            <div class="input-field col s6">
                                            	<label for="start_date" class=""  >Month</label><br>
                                                 <select name="a_date">
                                      
                                                  <option value="January">January</option>
                                                  <option value="February">February</option>
                                                  <option value="March">March</option>
                                                  <option value="April">April</option>
                                                  <option value="May">May</option>
                                                  <option value="June">June</option>
                                                  <option value="July">July</option>
                                                  <option value="August">August</option>
                                                  <option value="September">September</option>
                                                  <option value="October ">October</option>
                                                  <option value="November">November</option>
                                                  <option value="December">December</option>
                                                  
                                              </select>
                                            </div>
                                            <div class="input-field col s6">
                                            	<label for="end_date" class="">Year</label><br>
                                                <input class="validate" required="" id="end_date" type="text"  name="year">
                                                
                                            </div>
                                            <div class="input-field col s12">
                                                <button class="btn cyan waves-effect waves-light right" type="submit" name="action">Submit
                                                    <i class="material-icons right">send</i>
                                                </button>
                                            </div>
                                            </form>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m12 l12">
                        <div id="html-validations" class="card-panel">
                            <div class="card-content">
                                <div class="card-title">
                                    <div class="row">
                                        <div class="col s12 m6 l10">
                                            <h4 class="card-title">Allowances</h4>
                                        </div>
                                        <div class="col s12 m6 l2">
                                        </div>
                                    </div>
                                </div>
                                <div id="html-view-validations">
                                        <div class="row">
              <table id="example" class="table table-striped table-bordered" style="width:100%" cellpadding="0" cellspacing="0" border="0">
						                      <thead>
                                              <tr style="background-color: #1e1a9c;color: white;">
                                                  <th>Employee ID</th>
                                                  <th>Employee Name</th>
                                                  <th>Allowance Type</th>
                                                  <th>Month</th>
                                                  <th>Year</th>
                                                  <th>Amount</th>
                                                  <th>Action</th>
                                              </tr>

						                      </thead>
						                      <tbody>
						                      {% for row in data1 %}
						                      <tr><td>{{row[0]}}</td><td>{{row[1]}}</td><td>{{row[2]}}</td><td>{{row[3]}}</td><td>{{row[4]}}</td><td>{{row[5]}}</td>
                                              <td><form method="POST" action="{{url_for('delete_allow')}}">
                                                                <input type="hidden" value="{{row[0]}}" name="emp_id">
                                                                <input type="hidden" value="{{row[3]}}" name="nmonth">
                                                                <input type="hidden" value="{{row[4]}}" name="nyear">
                                                                <button type="submit" class="btn-floating btn waves-effect waves-light red">
                                                                    <i class="material-icons text-success">delete</i>
                                                                </button>
                                                            </form></td>
                                              </tr>
						                      {% endfor %}
						                      
						                      </tbody>
						                  </table>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}