{% extends "base.html" %}
{% block title %}Admin {% endblock title%}
{% block content %}
    <!-- BEGIN: Page Main-->
    <div id="main">
        <div class="row">
            <div class="content-wrapper-before gradient-shadow"></div>
            <div class="col s12">
                <div class="container">
                <h4 class="">Employee Attendance</h4>
                    <button class="btbtn-light-light-green float-right" style="width:100px;height:40px;color:white;background-color: #26cc0d"><a href="{{url_for('Export')}}">Export</a></button>
                <table style="width:100%;height:10px;">
                    <thead>
                    <tr style="background-color: #1e1a9c;color: white;">
                       <th>Profile Photo</th>
                        <th >Lastname</th>
                        <th >Department</th>
                        <th>Present</th>
                        <th>Absent</th>
                        <th>Leave</th>
                        <th>Take Attendance</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i,x in user_zipped%}
                        <tr>
                            <td>
                                <span class="avatar-contact avatar-online">
                                    <img class="circle responsive-img" src="data:;base64,{{x}}"
                                         alt="profile" style="border-radius:50% 50% 50% 50%;width:50px;
                                         height:50px;">
                                </span>

                                                        </td>
                                                        <td>{{i.Surname}} {{i.Given_name}}</td>
                                                        <td>{{i.Department}}</td>
                                                            <form method="POST" action="{{url_for('Take_Attendance')}}" >
                                                                <input type="hidden" value="{{i.Given_name}}" name="name">
                                                                <td>
                                                                <label>
                                                                    <input class="with-gap" name="group1" type="radio" value="Present"  />
                                                                    <span>P</span>
                                                                </label>
                                                                </td>
                                                                <td>
                                                                    <label>
                                                                    <input class="with-gap" name="group1" type="radio" value="Absent"  />
                                                                    <span>A</span>
                                                                </label>
                                                                </td>
                                                                <td>
                                                                    <label>
                                                                    <input class="with-gap" name="group1" type="radio" value="Leave"  />
                                                                    <span>L</span>
                                                                </label>
                                                                </td>
                                                                <td>
                                                                    <button type="submit" class="btn-floating btn waves-effect waves-light green">
                                                                        <i class="material-icons blue-grey-text">check</i>
                                                                    </button>
                                                                </td>
                                                            </form>
                                                    </tr>
                                                {% endfor %}
                    </tbody>
                </table>
<!-- Content Area Ends -->
          <div class="content-overlay"></div>
        </div>
      </div>
    </div>
    </div>
    <!-- END: Page Main-->
{% endblock %}