{% extends "base.html" %}
{% block title %}Admin {% endblock title%}
{% block content %}
    <!-- BEGIN: Page Main-->
    <div id="main">
      <div class="row">
{#        <div class="content-wrapper-before gradient-45deg-indigo-light-blue"></div>#}
{#        <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">#}
{#          <!-- Search for small screen-->#}
{#          <div class="container">#}
{#            <div class="row">#}
{#              <div class="col s10 m6 l6">#}
{#                <h5 class="breadcrumbs-title mt-0 mb-0"><span>Department</span></h5>#}
{#                <ol class="breadcrumbs mb-0">#}
{#                  <li class="breadcrumb-item"><a href="">Home</a>#}
{#                  </li>#}
{#                  <li class="breadcrumb-item"><a href="#">Table</a>#}
{#                  </li>#}
{#                  <li class="breadcrumb-item active">Table#}
{#                  </li>#}
{#                </ol>#}
{#              </div>#}
{#              <div class="col s2 m6 l6"><a class="btn dropdown-settings waves-effect waves-light breadcrumbs-btn right" href="#!" data-target="dropdown1">#}
{#                  <i class="material-icons hide-on-med-and-up">settings</i><span class="hide-on-small-onl">Settings</span><i class="material-icons right">arrow_drop_down</i></a><ul class="dropdown-content" id="dropdown1" tabindex="0">#}
{#                  <li tabindex="0">#}
{#                      <a class="grey-text text-darken-2" href="">Profile<span class="new badge red">2</span></a></li>#}
{#                  <li tabindex="0">#}
{#                      <a class="grey-text text-darken-2" href="">Contacts</a></li>#}
{#                  <li tabindex="0"><a class="grey-text text-darken-2" href="">FAQ</a></li>#}
{#                  <li class="divider" tabindex="-1"></li>#}
{#                  <li tabindex="0"><a class="grey-text text-darken-2" href="">Logout</a></li>#}
{#                </ul>#}
{##}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
        <div class="col s12">
          <div class="container">
            <div class="section section-data-tables">
                <div class="row">
                    <div class="col s12">
                        <div class="card">
                            <div class="card-content">
                                <h4 class="card-title">Add Department</h4>
                                {% with messages = get_flashed_messages() %}
                                    {% if messages %}
                                        <ul class=flashes>
                                            {% for message in messages %}
                                                <li>{{ message }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                {% endwith %}
                                <form class="formValidate0" id="formValidate0" method="POST" action="{{url_for('add_department')}}">
                                        <div class="row">
                                            <div class="input-field col s6">
                                                <textarea class="materialize-textarea" placeholder="Separate departments with commas..." id="uname0" name="dname" required=""></textarea>
                                                <label for="uname0">Department Name *</label>
                                            </div>
                                            <div class="input-field col s6">
                                                <button class="btn waves-effect waves-light left" type="submit" name="action">Submit
                                                    <i class="material-icons right">send</i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m12 l12">
                        <div id="button-trigger" class="card card card-default scrollspy">
                            <div class="card-content">
                                <h4 class="card-title">Department List</h4>
                                <div class="row">
                                    <div class="col s12">
                                                <div class="row">

                                                    <div class="col s12">
                                                        <div id="page-length-option_wrapper" class="dataTables_wrapper">
                                                            <table id="page-length-option" class="display dataTable dtr-inline collapsed" style="height:10px;width:100%;">
                                                            <thead>
                                                            <tr>
                                                                <th>Department Name</th>
                                                                <th>Action</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for  i in rows %}
                                                                <tr>
                                                                {% for x in i %}
                                                                    <td>{{x}}</td>
                                                                    {% endfor %}
                                                                    <td>
                                                                        <form method="POST" action="{{url_for('Delete_Department')}}">
                                                                            <input type="hidden" value="{{i[0]}}" name="depart">
                                                                            <button type="submit" class="btn-floating btn waves-effect waves-light red">
                                                                                <i class="material-icons">delete</i>
                                                                            </button>
                                                                        </form>
                                                                    </td>
{#                                                                    <td>#}
{#                                                                        <form method="POST" action="">#}
{#                                                                            <input type="hidden" value="{{i[0]}}" name="depart1">#}
{#                                                                            <button type="submit" class="btn-floating btn waves-effect waves-light white">#}
{#                                                                                <i class="material-icons blue-grey-text">edit</i>#}
{#                                                                            </button>#}
{#                                                                        </form>#}
{#                                                                    </td>#}
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                            <tfoot>
                                                            <tr>
                                                                <th rowspan="1" colspan="1">Department Name</th>
                                                                <th rowspan="1" colspan="1">Action</th>
                                                            </tr>
                                                            </tfoot>
                                                        </table>
                                                        </div>
                                                    </div>
                                                </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
{#            <div class="content-overlay"></div>#}
        </div>
      </div>
    </div>
    <!-- END: Page Main-->
{% endblock %}