{% extends "base.html" %}
{% block title %}Admin {% endblock title%}
{% block content %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<div id="main">
      <div class="row">
        <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
        <div class="col s12">
          <div class="container">
            <div class="section">
                <div class="row">
                    <div class="col s12 m12 l12">
                        <div id="html-validations" class="card-panel">
                            <div class="card-content">
                                <div class="card-title">
                                    <div class="row">
                                        <div class="col s12 m6 l10">
                                            <h4 class="card-title">Employee Pay Slip</h4>
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                                <hr />
                                <div id="tblCustomers" style="width:800px; height:800px; border:black solid 1px;" class="text-center" >
                                  
                                   {% for row in crows %}
                                    <h5 style="float:right; margin-left:5px;">{{row.cname}}<br>{{row.address}}</h5>
                                    
                                   {% endfor %}
                                    <br /><br />
                                   <h5>Monthly Pay Slip</h5>
                                   <p class='text-center'>Month Paid:{% for x in rf_list%}{{x[2]}} {{x[3]}}{% endfor%}</p>
                                   <table style="border:black solid 1px;" class="text-center table table-striped">
                                   <tr><td>
                                   {% for i in rdata%}
                                   <p>Employee ID: {{i[1]}}</p>
                                   <p>Employee Name: {{i[9]}} {{i[10]}} {{11}}</p>
                                   
                                   <p>Department: {{i[31]}}</p>
                                   <p>Designation: {{i[4]}}</p>
                                   
                                   {% endfor %}
                                   </td>
                                   <td>
                                   {% for i in rdata%}
                                   <p>NSSF No:     {{i[3]}}</p>
                                   <p>Bank Account: {{i[21]}}</p>
                                   <p>Bank info: {{i[20]}}</p>
                                   {% endfor %}
                                   </td></tr>
                                   <th>Gross Pay</th><th>Taxation</th>
                                   <tr>
                                   <td>
                                   {% for i in rdata%}
                                   <p>Basic Pay:  UGX {{i[28]}}</p>
                                   {% endfor %}
                                    {% for rp in rf_list %}
                                   <p>Other Earnings: UGX {{rp[4]}}</p>
                                   
                                   <p>Gross Pay: UGX {{rp[5]}}</p>
                                   {% endfor %}
                                   </td>
                                   <td>
                                   {% for rp in rf_list %}
                                   <p>Taxable Pay:    UGX {{rp[5]}}</p>
                                   {% endfor %}
                                   </td>
                                   </tr>
                                   <th>Deduction(s)</th><th>SUMMARY</th>
                                   <tr>
                                   <td>
                                    {% for rp in rf_list %}
                                   <p>P.A.Y.E:    UGX {{rp[9]}}</p>
                                   
                                   <p>NSSF: UGX {{rp[8]}}</p>
                                  
                                   
                                    <p>other Deductions:UGX {{rp[11] }}</p>
                                    {% endfor %}
                                   </td>
                                   <td>
                                   {% for rp in rf_list %}
                                   <p>Net Pay: UGX {{rp[13]}}</p>
                                   {% endfor %}
                                   </td>
                                   </tr>
                                   
                                   </table>


                                </div> <hr />
                                <div>
                                <input type="button" id="btnExport" value="Print" onclick="Export()"  class="btn btn-success"/>
                                 <script type="text/javascript">
                                    function Export() {
                                        html2canvas(document.getElementById('tblCustomers'), {
                                            onrendered: function (canvas) {
                                                var data = canvas.toDataURL();
                                                var docDefinition = {
                                                    content: [{
                                                        image: data,
                                                        width: 500
                                                    }]
                                                };
                                                pdfMake.createPdf(docDefinition).download("Table.pdf");
                                            }
                                        });
                                    }
                                </script>
                                </div>
                                <!-- START RIGHT SIDEBAR NAV -->
                            </div>
                        </div>
                    </div>
                 
                    
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}