{% extends "base.html" %}
{% block title %}Admin {% endblock title%}
{% block content %}
    <!-- BEGIN: Page Main-->
    <div id="main">
        <div class="row">
{#            <div class="content-wrapper-before gradient-45deg-indigo-light-"></div>#}
            <div class="col s12">
                <div class="container">
                    <!-- Add new contact popup -->
                    <div class="contact-overlay"></div>
{#                    <div style="bottom: 54px; right:14px;" class="fixed-action-btn direction-top active">#}
{#                        <a class="btn-floating btn-large primary-text gradient-shadow contact-sidebar-trigger" href="#modal1">#}
{#                            <i class="material-icons">person_add</i>#}
{#                        </a>#}
{#                    </div>#}
                    <!-- Add new contact popup Ends-->
                    <!-- Sidebar Area Starts -->
                    <div class="sidebar-left sidebar-fixed">
                        <div class="sidebar">
                            <div class="sidebar-content">
{#                                <div class="sidebar-header">#}
{#                                    <div class="sidebar-details">#}
{#                                        <h5 class="m-0 sidebar-title"><i class="material-icons app-header-icon text-top">perm_identity</i> Employees#}
{#                                        </h5>#}
{#                                        <div class="mt-10 pt-2">#}
{#                                            <p class="m-0 subtitle font-weight-700">Total number of Employees</p>#}
{#                                            <p class="m-0 text-muted"> Employees</p>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
                                <a href="#" data-target="contact-sidenav" class="sidenav-trigger hide-on-large-only">
                                    <i class="material-icons">menu</i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Sidebar Area Ends -->
                    <!-- Content Area Starts -->
                <h4 class="float-right">Employee List</h4>
                    <div class="content-area content-right">
{#                    #}
                        <div class="app-wrapper">
                            <div class="datatable-search">
                                <i class="material-icons mr-2 search-icon">search</i>
                                <input type="text" placeholder="Search employee" class="app-filter" id="global_filter">
                            </div>
                            <div id="button-trigger" class="card card card-default scrollspy border-radius-6 fixed-width">
                                <div class="card-content p-0">
                                    <div id="data-table-contact_wrapper" class="dataTables_wrapper no-footer">
                                        <div class="dataTables_length" id="data-table-contact_length"><label>Show
                                            <select name="data-table-contact_length" aria-controls="data-table-contact" class="">
                                                <option value="15" selected="selected">15</option>
                                            </select> entries
                                        </label>
                                        </div>
                                        <div id="data-table-contact_filter" class="dataTables_filter"><label>Search:
                                            <input type="search" class="" placeholder="" aria-controls="data-table-contact">
                                        </label>
                                        </div>
                                        <div class="dataTables_scroll">
                                        <div class="dataTables_scrollHead" style="overflow: hidden; position: relative; border: 0px none; width: 100%;">
                                            <div class="dataTables_scrollHeadInner" style="box-sizing: content-box; width: 712.05px; padding-right: 12px;">
                                            </div>
                                        </div>
                                        <div class="dataTables_scrollBody " style="">
                                             <table id="data-table-contact"
                                                       class="display dataTable no-footer dtr-inline collapsed"
                                                        role="grid" aria-describedby="data-table-contact_info" style="height:10px;">
                                            <thead>
                                            <tr >
                                                <th>Emp ID</th>
                                                <th >Lastname</th>
                                                <th>Department</th>
                                                <th>Designation</th>
                                                <th>Mobile</th>
                                                <th>View</th>
                                                <th>Delete</th>
                                            </tr>
                                            </thead>
                                                <tbody>
                                                {% for i in users %}
                                                    <tr>
                                                        <td>{{i.Emp_ID}}</td>
                                                        <td>{{i.Given_name}}</td>
                                                        <td>{{i.Department}}</td>
                                                        <td>{{i.Designation}}</td>
                                                        <td>{{i.Mobile}}</td>
                                                        <td>
                                                            <form method="POST" action="" >
                                                                <input type="hidden" value="" name="name">
                                                                 <button type="submit" class="btn-floating btn waves-effect waves-light green">
                                                                     <i class="material-icons blue-grey-text">remove_red_eye</i>
                                                                 </button>
                                                            </form>
                                                        </td>
                                                        <td>
                                                            <form>
                                                                <input type="hidden" value="" name="">
                                                                <button type="submit" class="btn-floating btn waves-effect waves-light red">
                                                                    <i class="material-icons blue-grey-text">delete</i>
                                                                </button>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                            <div class="ps__rail-x" style="width: 695px; left: 0px; bottom: 0px;">
                                                <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 678px;">

                                                </div>
                                            </div>
                                            <div class="ps__rail-y" style="top: 0px; height: 552px; right: 0px;">
                                                <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 358px;">

                                                </div>
                                            </div>
                                            <div class="ps__rail-x" style="width: 695px; left: 0px; bottom: 0px;">
                                                <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 678px;">

                                                </div>
                                            </div>
                                            <div class="ps__rail-y" style="top: 0px; height: 552px; right: 0px;">
                                                <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 358px;">

                                                </div>
                                            </div>
                                            <div class="ps__rail-x" style="width: 695px; left: 0px; bottom: 0px;">
                                                <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 678px;">

                                                </div>
                                            </div>
                                            <div class="ps__rail-y" style="top: 0px; height: 552px; right: 0px;">
                                                <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 358px;">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
{#                                        <div class="dataTables_info" id="data-table-contact_info" role="status" aria-live="polite">Showing 16 to 29 of 29 entries</div>#}
{#                                        <div class="dataTables_paginate paging_simple_numbers" id="data-table-contact_paginate">#}
{#                                            <a class="paginate_button previous" aria-controls="data-table-contact" data-dt-idx="0" tabindex="0" id="data-table-contact_previous">Previous</a>#}
{#                                            <span><a class="paginate_button " aria-controls="data-table-contact" data-dt-idx="1" tabindex="0">1</a>#}
{#                                                <a class="paginate_button current" aria-controls="data-table-contact" data-dt-idx="2" tabindex="0">2</a>#}
{#                                            </span>#}
{#                                            <a class="paginate_button next disabled" aria-controls="data-table-contact" data-dt-idx="3" tabindex="-1" id="data-table-contact_next">Next</a></div>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
<!-- Content Area Ends -->
{#          <div class="content-overlay"></div>#}
        </div>
      </div>
    </div>
    </div>
    <!-- END: Page Main-->
{% endblock %}