{% extends "base_hr.html" %}
{% block title %}Admin {% endblock title%}
{% block content %}
<div id="main">
      <div class="row">
{#        <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>#}

        <div class="col s12 " >
          <div class="container">
            <div class="section">
                <div class="row">
                    <div class="col s12">
                        <div id="html-validations" class="card card-tabs" style="height:700px;">
                            <div class="card-content" >
                                <div class="card-title">
                                    <div class="row">
                                        <div class="col s12 m6 l10">
                                            <h4 class="card-title">Add Employee</h4>
                                        </div>
                                        <div class="col s12 m6 l2">
                                        </div>
                                    </div>
                                </div>
                            <div id="error"></div>
                                <div id="html-view-validations">
                                    <div class="container">
                                        <div class="stepwizard col-md-offset-3">
                                            <div class="stepwizard-row setup-panel">
                                            <div class="alert alert-success">
                                                {% with messages = get_flashed_messages() %}
                                                    {% if messages %}
                                                        <ul class=flashes>
                                                            {% for message in messages %}
                                                                <li>{{ message }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                                {% endwith %}
                                            </div>

                                                <div class="stepwizard-step">
                                                    <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
                                                    <p>Personal Information</p>
                                                </div>
                                                <div class="stepwizard-step">
                                                    <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                                                    <p>Employement Details</p>
                                                   
                                                </div>
                                                <div class="stepwizard-step">
                                                    <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                                                    <p>Bank Information</p>
                                                </div>
                                                <div class="stepwizard-step">
                                                    <a href="#step-4" type="button" class="btn btn-default btn-circle" disabled="disabled">4</a>
                                                    <p>Education Information</p>
                                                </div>
                                                <div class="stepwizard-step">
                                                    <a href="#step-5" type="button" class="btn btn-default btn-circle" disabled="disabled">5</a>
                                                    <p>Contact Information</p>
                                                </div>
                                            </div>
                                        </div>
                                        <form role="form" action="{{url_for('add_employee')}}" method="POST" class="formValidate0" id="formValidate0" enctype="multipart/form-data" >
                                            <div class="row setup-content" id="step-2">
                                                <div class="col s12 m12 l6">
                                                    <div id="html-validations" class="card-panel">
                                                          <div class="card-title">
                                                                <div class="row">
                                                                    <div class="col s12 m6 l10">
                                                              
                                                                    </div>
                                                                    <div class="col s12 m6 l2">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        <div class="card-content">
                                                            <div id="html-view-validations">
                                                                     <div class="col-xs-6 col-md-offset-3">
                                                                         <div class="col-md-12">
                                                                             <div class="input-field col s6">
                                                                                 <i class="material-icons prefix">accessibility</i>
                                                                                 <input class="validate" required="required" id="emp_id" name="emp_id" type="text">
                                                                                 <label for="emp_id">Emp ID*</label>
                                                                                 <span class="helper-text right-alert"  data-error="Please enter a correct employee id!" data-success="Perfect!"></span>
                                                                             </div>
                                                                             <div class="input-field col s6">
                                                                                 <i class="material-icons prefix">card_travel</i>
                                                                                 <input class="validate" required="required" id="designation" type="text" name="designation" pattern="^[A-Za-z -]+$">
                                                                                 <label for="designation" >Designation *</label>
                                                                                 <span class="helper-text right-alert"  data-error="Please enter a Designation" data-success="Perfect!"></span>
                                                                             </div>
{#                                                                             <div class="input-field col s12">#}
{#                                                                                 #}
{#                                                                                 <input   id="date1" type="date" name="">#}
{#                                                                             </div>#}
                                                                             <div class="input-field col s6">
                                                                                 <i class="material-icons prefix">date_range</i>
                                                                                 <label for="start_date1">Joining Date *</label><br>
                                                                                 <input class="validate" required="required" id="start_date1" type="date" name="join_date">
                                                                                 <span class="helper-text right-alert"  data-error="Please enter a correct date" data-success="Perfect!"></span>
                                                                             </div>
                                                                             <div class="input-field col s6">
                                                                                 <i class="material-icons prefix">date_range</i>
                                                                                 <label for="start_date" >End of Contract *</label><br>
                                                                                 <input class="validate" required="required" id="start_date" type="date" name="end_date">
                                                                                 <span class="helper-text right-alert"  data-error="Please enter a correct date" data-success="Perfect!"></span>
                                                                             </div>
                                                                             <div class="input-field col s6">
                                                                                 <i class="material-icons prefix">assignment_ind</i>
                                                                                 <select name="emp_status">
                                                                                     <option value="Permanent" selected>Permanent</option>
                                                                                     <option value="Permanent">Probation</option>
                                                                                 </select>
                                                                                 <label>Employee Status</label>
                                                                             </div>
                                                                             <div class="input-field col s6">
                                                                                 <i class="material-icons prefix">airline_seat_individual_suite</i>
                                                                                 <select name="status">
                                                                                     <option value="Yes" selected>Yes</option>
                                                                                     <option value="No">No</option>
                                                                                 </select>
                                                                                 <label>Residence</label>
                                                                             </div>
                                                                              <div class="input-field col s12">
                                                                                  <i class="material-icons prefix">assessment</i>
                                                                                 <input class="validate" required="required" id="tin" type="text" name="tin" pattern="[^a-zA-Z]+"  maxlength="10" size="10">
                                                                                  <label for="tin" >Tin Number *</label>
                                                                                  <span class="helper-text right-alert"  data-error="Please enter a correct tin number" data-success="Perfect!"></span>
                                                                             </div>
                                                                             <button class="btn btn-light-light-green prevBtn  pull-left" type="button">
                                                                                 Previous
                                                                             </button>
                                                                         </div>
                                                                     </div>
                                                                 </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <div class="col s12 m12 l6">
                                                    <div id="html-validations" class="card-panel">
                                                        <div class="card-content">
                                                            <div class="card-title">
                                                                <div class="row">
                                                                    <div class="col s12 m6 l10">

                                                                    </div>
                                                                    <div class="col s12 m6 l2">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div id="html-view-validations">
                                                                     <div class="col-xs-6 col-md-offset-3">
                                                                         <div class="col-md-12">
                                                                             <div class="input-field col s6">
                                                                                  <i class="material-icons prefix">money</i>
                                                                                 <input class="validate" required="required" id="gross" name="gross_pay" pattern="\d*" type="text">
                                                                                 <label for="gross" >Basic Pay*</label>
                                                                                 <span class="helper-text right-alert"  data-error="Please enter correct basic pay!" data-success="Perfect!"></span>
                                                                             </div>
                                                                             <div class="input-field col s6">
                                                                                 <i class="material-icons prefix">work</i>
                                                                                 <input class="validate" required="required" id="nssf" type="text" pattern="\d*" name="nssf" maxlength="13" minlength="0">
                                                                                 <label for="nssf">Nssf Number *</label>
                                                                                 <span class="helper-text right-alert"  data-error="Please enter nssf number!" data-success="Perfect!"></span>
                                                                             </div>
                                                                             <div class="input-field col s6">
                                                                                 <i class="material-icons prefix">group</i>
                                                                                 <input class="validate" required="required" id="next_of_kin" type="text" name="next_of_kin" pattern="^[A-Za-z -]+$">
                                                                                 <label for="next_of_kin">Next of Kin *</label>
                                                                                 <span class="helper-text"  data-error="Please enter next of kin !" data-success="Perfect!"></span>
                                                                             </div>
                                                                             <div class="input-field col s6">
                                                                             <i class="material-icons prefix">device_hub</i>
                                                                                 <label for="first_input2" class="">Department *</label><br>
                                                                                 <select name="department">
                                                                                     {% for i in rows %}
                                                                                         <option>{{i[1]}}</option>
                                                                                     {% endfor %}
                                                                                 </select>
                                                                             </div>
                                                                             <div class="input-field col s6">
                                                                                  <i class="material-icons prefix">person_outline</i>
                                                                                 <input class="validate" required="required" id="supervisor" type="text" name="supervisor" pattern="^[A-Za-z -]+$">
                                                                                 <label for="supervisor" >Supervisor *</label>
                                                                                 <span class="helper-text right-alert"  data-error="Please enter a supervisor !" data-success="Perfect!"></span>
                                                                             </div>
                                                                             <div class="input-field col s6">
                                                                                 <div class="file-field input-field">
                                                                                     <div class="btn btn-light-blue">
                                                                                         <span>Upload Picture:</span>
                                                                                         <input type="file" name="pic" id="pic" placeholder="Upload picture *">
                                                                                     </div>
                                                                                     <div class="file-path-wrapper">
                                                                                         <input class="file-path validate" type="text">
                                                                                     </div>
                                                                                 </div>
                                                                             </div>
                                                                             <button class="btn btn-light-blue nextBtn pull-right" type="button">Next
                                                                                 <i class="material-icons right">send</i>
                                                                             </button>
                                                                         </div>
                                                                     </div>
                                                                 </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            <div class="row setup-content" id="step-1">
                                                <div class="col-xs-6 col-md-offset-3">
                                                    <div class="col-md-12">
                                                 
                                                        <div class="input-field col s6">
                                                            <i class="material-icons prefix">person_add</i>
                                                            <input id="first_name" type="text" class="validate"  required="required" aria-required="true" name="surname"
                                                pattern="^[A-Za-z -]+$">
                                                            <label for="first_name">Surname *</label>
                                                            <span class="helper-text"  data-error="Please enter a correct of surname !" data-success="Perfect!"></span>
                                                        </div>
                                                        <div class="input-field col s6">
                                                            <i class="material-icons prefix">person_add</i>
                                                            <input class="validate invalid"  id="last_name" type="text" name="given_name" pattern="^[A-Za-z -]+$">
                                                            <label for="last_name" class="">Last Name *</label>
                                                            <span class="helper-text right-alert"  data-error="Please enter a lastname !" data-success="Perfect!"></span>
                                                        </div>
                                                        <div class="input-field col s6">
                                                            <i class="material-icons prefix">person_add</i>
                                                            <input  id="other" type="text" name="other_names">
                                                            <label for="other" class="">Other Names *</label>

                                                        </div>
                                                        <div class="input-field col s6">
                                                            <i class="material-icons prefix">plus_one</i>
                                                            <select name="marital_status">
                                                                <option value="Single" selected>Single</option>
                                                                <option value="Married">Married</option>
                                                                <option value=" divorced">divorced</option>
                                                                <option value="widowed">widowed</option>
                                                            </select>
                                                            <label>Marital Status *</label>
                                                        </div>
                                                        <div class="input-field col s6">
                                                             <i class="material-icons prefix">pregnant_woman</i>
                                                            <select name="gender">
                                                                <option value="Male" selected>Male</option>
                                                                <option value="Female">Female</option>
                                                            </select>
                                                            <label>Gender</label>
                                                        </div>
                                                        <div class="input-field col s6">
                                                            <i class="material-icons prefix">person_pin_circle</i>
                                                            <input class="validate" required="required" id="nationality" type="text" name="nationality" pattern="^[A-Za-z -]+$">
                                                            <label for="nationality" class="">Nationality *</label>
                                                            <span class="helper-text right-alert"  data-error="Please enter the nationality !" data-success="Perfect!"></span>
                                                        </div>
{#                                                        <div class="input-field col s12">#}
{#                                                            <i class="material-icons prefix">date_range</i>#}
{#                                                            <input  required="" id="date_of_birth" type="date" name="">#}
{#                                                            <label for="date_of_birth" class=""></label>#}
{#                                                        </div>#}
                                                        <div class="input-field col s12">
                                                            <i class="material-icons prefix">date_range</i>
                                                            <label for="start_date" class=""  >Date of Birth *</label><br>
                                                            <input class="validate" required="required" id="start_date" type="date" name="date_of_birth">
                                                            <span class="helper-text right-alert"  data-error="Please enter the date of birth !" data-success="Perfect!"></span>
                                                        </div>

{#                                                        <button class="btn btn-light-deep-purple prevBtn  pull-left" type="button">#}
{#                                                            Previous#}
{#                                                        </button>#}
                                                        <button class="btn btn-light-blue right nextBtn pull-right" type="button">Next
                                                            <i class="material-icons right">send</i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row setup-content" id="step-3">
                                                <div class="col-xs-6 col-md-offset-3">
                                                    <div class="col-md-12">
                                                        
                                                        <div class="input-field col s12">
                                                            <i class="material-icons prefix">business_center</i>
                                                            <input class="validate" required="required" id="account_name"  name="account_name" type="text" pattern="^[A-Za-z -]+$">
                                                            <label for="account_name" class="">Account Name *</label>
                                                            <span class="helper-text right-alert"  data-error="Please enter the account name !" data-success="Perfect!"></span>
                                                        </div>
                                                        <div class="input-field col s12">
                                                            <i class="material-icons prefix">redeem</i>
                                                            <input class="validate invalid" required="" id="account_number"  pattern="\d*" type="text" name="account_number" maxlength="16"  size="16" minlength="16">
                                                            <label for="account_number" class="">Account Number *</label>
                                                            <span class="helper-text right-alert"  data-error="Please enter a correct account number!" data-success="Perfect!"></span>

                                                        </div>
                                                        <div class="input-field col s12">
                                                            <i class="material-icons prefix">credit_card</i>
                                                            <input class="validate invalid" required="" id="bank_name" type="text" name="bank_name" pattern="^[A-Za-z -]+$">
                                                            <label for="bank_name" class="">Bank Name *</label>
                                                            <span class="helper-text right-alert"  data-error="Please enter a correct bank name!" data-success="Perfect!"></span>
                                                        </div>
                                                        <div class="input-field col s12">
                                                            <i class="material-icons prefix">credit_card</i>
                                                            <input class="validate invalid" required="required" id="bank_branch" type="text" name="bank_branch" pattern="^[A-Za-z -]+$">
                                                            <label for="bank_branch" class="">Bank Branch *</label>
                                                             <span class="helper-text right-alert"  data-error="Please enter a correct bank branch" data-success="Perfect!"></span>
                                                        </div>
                                                        <button class="btn btn-light-light-green prevBtn  pull-left" type="button">
                                                            Previous
                                                        </button>
                                                        <button class="btn btn-light-blue  right nextBtn pull-right" type="button">Next
                                                            <i class="material-icons right">send</i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row setup-content" id="step-4">
                                                <div class="col-xs-6 col-md-offset-3">
                                                    <div class="col-md-12">
                                                     
                                                        <div class="input-field col s12">
                                                            <i class="material-icons prefix">school</i>
                                                            <input class="validate invalid" required="required" id="level" name="level" type="text" pattern="^[A-Za-z -]+$">
                                                            <label for="level" >Level of Education  *</label>
                                                             <span class="helper-text right-alert"  data-error="Please enter the level of education!" data-success="Perfect!"></span>
                                                        </div>
                                                        <div class="input-field col s12">
                                                            <i class="material-icons prefix">school</i>
                                                            <input class="validate invalid" required="required" id="award" name="award" type="text" pattern="^[A-Za-z -]+$">
                                                            <label for="award" class="">Award Received  *</label>
                                                             <span class="helper-text right-alert"  data-error="Please enter the reward received!" data-success="Perfect!"></span>
                                                        </div>
                                                        <div class="input-field col s12">
                                                            <i class="material-icons prefix">account_balance</i>
                                                            <input class="validate invalid" required="required" id="instition" type="text" name="instition" pattern="^[A-Za-z -]+$">
                                                            <label for="instition" class="">Institution*</label>
                                                             <span class="helper-text right-alert"  data-error="Please enter the institution!" data-success="Perfect!"></span>
                                                        </div>
                                                        <div class="input-field col s12">
                                                            <div class="file-field input-field">
                                                                <div class="btn btn-light-blue">
                                                                    <span>Upload CV:</span>
                                                                    <input type="file" name="cv" id="cv" placeholder="Upload CV*">
                                                                </div>
                                                                <div class="file-path-wrapper">
                                                                    <input class="file-path validate" type="text">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <button class="btn btn-light-light-green prevBtn  pull-left" type="button">
                                                            Previous
                                                        </button>
                                                        <button class="btn btn-light-blue right nextBtn pull-right" type="button">Next
                                                            <i class="material-icons right">send</i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row setup-content" id="step-5">
                                                <div class="col-xs-6 col-md-offset-3">
                                                    <div class="col-md-12">
                                                       
                                                        <div class="input-field col s12">
                                                            <i class="material-icons prefix">accessibility</i>
                                                            <input class="validate invalid" required="required" id="current_address" name="current_address" type="text" >
                                                            <label for="current_address" class="">Current Address *</label>
                                                            <span class="helper-text right-alert"  data-error="Please enter the current address !" data-success="Perfect!"></span>
                                                        </div>
                                                        <div class="input-field col s12">
                                                            <i class="material-icons prefix">contact_phone</i>
                                                              <label for="mobile">Mobile *</label>
                                                            <input class="validate invalid" required="required" id="mobile" type="tel" name="mobile" pattern="^\d{10}$"  maxlength="10"  size="10" >
                                                            <span class="helper-text right-alert"  data-error="Please enter a correct mobile number!" data-success="Perfect!"></span>
                                                            
                                                        </div>
                                                        <div class="input-field col s12">
                                                            <i class="material-icons prefix">phone</i>
                                                              <label for="phone">Home Phone *</label>
                                                            <input class="validate invalid " required="required" id="phone" type="tel" name="phone" pattern="^\d{10}$"  maxlength="10"  size="10" >
                                                            <span class="helper-text right-alert"  data-error="Please enter a correct home number!" data-success="Perfect!"></span>
                                                            
                                                        </div>
                                                        <div class="input-field col s12">
                                                            <i class="material-icons prefix">contact_mail</i>
                                                            <input class="validate invalid" required="required" id="email" type="email" name="email">
                                                            <label for="email" >Email *</label>
                                                             <span class="helper-text right-alert" data-error="Please enter an email address" data-success="Perfect!" ></span>
                                                        </div>
                                                        <button class="btn btn-light-light-green  prevBtn btn-light-deep-purple pull-left" type="button">
                                                            Previous
                                                        </button>
                                                        <button class="btn btn-light-blue right " type="submit">Submit
                                                        <i class="material-icons right">send</i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock %}
