{% extends "base.html" %}
{% block title %}Admin {% endblock title%}
{% block content %}
    <!-- BEGIN: Page Main-->
    <div id="main">
        <div class="row">
{#            <div class="content-wrapper-before gradient-45deg-indigo-light-"></div>#}
            <div class="col s12">
                <div class="container">
                    <!-- Add new contact popup -->
                    <div class="contact-overlay"></div>
{#                    <div style="bottom: 54px; right:14px;" class="fixed-action-btn direction-top active">#}
{#                        <a class="btn-floating btn-large primary-text gradient-shadow contact-sidebar-trigger" href="#modal1">#}
{#                            <i class="material-icons">person_add</i>#}
{#                        </a>#}
{#                    </div>#}
                    <!-- Add new contact popup Ends-->
                    <!-- Sidebar Area Starts -->
                    <div class="sidebar-left sidebar-fixed">
                        <div class="sidebar">
                            <div class="sidebar-content">
{#                                <div class="sidebar-header">#}
{#                                    <div class="sidebar-details">#}
{#                                        <h5 class="m-0 sidebar-title"><i class="material-icons app-header-icon text-top">perm_identity</i> Employees#}
{#                                        </h5>#}
{#                                        <div class="mt-10 pt-2">#}
{#                                            <p class="m-0 subtitle font-weight-700">Total number of Employees</p>#}
{#                                            <p class="m-0 text-muted"> Employees</p>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
                                <a href="#" data-target="contact-sidenav" class="sidenav-trigger hide-on-large-only">
                                    <i class="material-icons">menu</i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Sidebar Area Ends -->
                    <!-- Content Area Starts -->
                <h4 class="float-left">Employee List</h4>
                    <table  cellpadding="0" cellspacing="0" border="0" class="">
                    <thead>
                    <tr style="background-color: #1e1a9c;color: white;">
                        <th>Name</th>
                        <th>Department</th>
                        <th>Designation</th>
                        <th>Mobile</th>
                        <th>Salary</th>
                        <th>View</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in users %}
                        <tr>
                            <td>{{i.Surname}} {{i.Given_name}}</td>
                            <td>{{i.Department}}</td>
                            <td>{{i.Designation}}</td>
                            <td>{{i.Mobile}}</td>
                            <td>{{i.Gross_Pay}}</td>
                            <td>
                                <form method="POST" action="" >
                                    <input type="hidden" value="" name="name">
                                    <button type="submit" class="btn-floating btn waves-effect waves-light green">
                                        <i class="material-icons text-success">remove_red_eye</i>
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form method="POST" action="{{url_for('Edit_Employee')}}" >
                                    <input type="hidden" value="{{ i.Emp_ID }}" name="id">
                                    <input type="hidden" value="{{ i.Surname }}" name="surname">
                                    <input type="hidden" value="{{ i.Given_name }}" name="gname">
                                    <input type="hidden" value="{{ i.Department }}" name="depart">
                                    <input type="hidden" value="{{ i.Tin_Number }}" name="tin">
                                    <input type="hidden" value="{{ i.Nssf_Number }}" name="nssf">
                                    <input type="hidden" value="{{ i.Designation}}" name="designation">
                                    <input type="hidden" value="{{ i.Employee_Status}}" name="employee_status">
                                    <input type="hidden" value="{{ i.Joining_Date}}" name="joining_date">
                                    <input type="hidden" value="{{ i.End_of_Contract}}" name="end_of_contract">
                                    <input type="hidden" value="{{ i.Residence_type}}" name="rtype">
                                    <input type="hidden" value="{{ i.Othername}}" name="othername">
                                    <input type="hidden" value="{{ i.DOB }}" name="DOB">
                                    <input type="hidden" value="{{ i.Marital_Status }}" name="mstatus">
                                    <input type="hidden" value="{{ i.Gender}}" name="gender">
                                    <input type="hidden" value="{{ i.Nationality}}" name="nationality">
                                    <input type="hidden" value="{{ i.Current_Address }}" name="caddress">
                                    <input type="hidden" value="{{ i.Mobile}}" name="mobile">
                                    <input type="hidden" value="{{ i.Home_Phone}}" name="phone">
                                    <input type="hidden" value="{{ i.Email}}" name="email">
                                    <input type="hidden" value="{{ i.Account_Name}}" name="accname">
                                    <input type="hidden" value="{{ i.Account_Number}}" name="accnumber">
                                    <input type="hidden" value="{{ i.Bank_Name}}" name="bname">
                                    <input type="hidden" value="{{ i.Bank_Branch}}" name="bbranch">
                                    <input type="hidden" value="{{ i.Level_of_Education}}" name="level">
                                    <input type="hidden" value="{{ i.Award}}" name="award">
                                    <input type="hidden" value="{{ i.Institution}}" name="institution">
                                    <input type="hidden" value="{{ i.Gross_Pay}}" name="gpay">
                                    <input type="hidden" value="{{ i.Next_of_Kin}}" name="nkin">
                                    <input type="hidden" value="{{ i.Supervisor}}" name="supervisor">
                                    <button type="submit" class="btn-floating btn waves-effect waves-light blue">
                                        <i class="material-icons text-success">edit</i>
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <input type="hidden" value="" name="">
                                    <button type="submit" class="btn-floating btn waves-effect waves-light red">
                                        <i class="material-icons text-success">delete</i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
        </div>
      </div>
    </div>
    </div>
    <!-- END: Page Main-->
{% endblock %}