{% extends "base.html" %}
{% block title %}Admin {% endblock title%}
{% block content %}
<div id="main">
      <div class="row">
        <div class="content-wrapper-before gradient-45deg-indigo-light-blue"></div>
        <div class="col s12">
          <div class="container white z-depth-2">
            <div class="section">
                <div class="row">
                    <div class="col s12 m12 l12">
                        <div  class="card-panel" >
                            <div class="card-content">
                                <div class="card-title">
                                    <div class="row">
                                        
                                        <div class="col s12 m2 l12">
                                            <h1 style="align:center" class="center">Welcome to {{cm}}</h1>
                                            <br /></br />
                                             <img class="responsive-img center" style="width:200px;height:100px; margin:auto 40%; align:center; float:cneter;" src="data:;base64,{{img}}" alt="Company Logo">
                                             <br /><br />

                                             <button class="btn cyan waves-effect waves-light" style="width:500px; padding:16px; height:80px; margin:auto 25%; "><a class="waves-effect waves-cyan" href="{{url_for('home')}}">
                                                <i class="material-icons">settings</i>
                                                <span class="menu-title" data-i18n="settings">
                                                    Customize Application
                                                </span>
                                            </a></button>
                                        </div>
                                    </div>
                                </div>
                                <div id="error"></div>
                               
                                <!--  Contact sidebar -->
                                
                                   
                                    
                                    
                                <!-- START RIGHT SIDEBAR NAV -->
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
