{% extends "base.html" %}
{% block title %}Admin {% endblock title%}
{% block content %}
<div id="main">
      <div class="row">
        <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
        <div class="col s12">
          <div class="container">
            <div class="section">
                <div class="row">
                    <div class="col s12 m12 l6">
                        <div id="html-validations" class="card-panel">
                            <div class="card-content">
                                <div class="card-title">
                                    <div class="row">
                                        <div class="col s12 m6 l10">
                                            <h4 class="card-title">Company Profile</h4>
                                        </div>
                                        <div class="col s12 m6 l2">

                                        </div>
                                    </div>
                                </div>
                                <div id="html-view-validations">
                                    <form class="formValidate0" id="formValidate0" method="POST" action="{{url_for('Profile')}}" enctype="multipart/form-data">
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">person_add</i>
                                                <input id="first_input2" type="text" class="validate"  required="" name="c_name">
                                                <label for="first_input2" data-error="Please enter company name." data-success="Perfect!" class="">Company Name</label>
                                            </div>
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">email</i>
                                                <input class="validate" required="" id="c_email" type="email" name="c_email">
                                                <label for="c_email" class="" data-error="Please enter company name." data-success="Perfect!"  >E-Mail *</label>
                                            </div>
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">place</i>
                                                <input class="validate" required="" id="c_address" type="text" name="c_address">
                                                <label for="c_address" class="" data-error="Please enter company name." data-success="Perfect!">Address *</label>
                                            </div>
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">work</i>
                                                <input class="validate" required="" id="c_nssf" type="text"  maxlength="9" size="9" name="c_nssf">
                                                <label for="c_nssf" class="" data-error="Please enter company name." data-success="Perfect!">Company NSSF Number *</label>
                                            </div>
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">assessment</i>
                                                <input class="validate" required="" id="c_tin" type="text" maxlength="10" size="10" name="c_tin">
                                                <label for="c_tin" data-error="Please enter company name." data-success="Perfect!">Company Tin *</label>
                                            </div>
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">phone</i>
                                                <input type="number" min="0" max="99999"  maxlength="10" class="validate invalid  zipcode-number" required="" aria-required="true" id="c_tel"  name="c_tel" >
                                                <label for="c_tel" data-error="wrong" data-success="right" >Telephone *</label>
                                            </div>
                                            <div class="input-field col s12">
                                                <div class="file-field input-field">
                                                    <div class="btn btn-light-blue">
                                                        <span>Upload Logo</span>
                                                        <input type="file" name="image" accept="image/*" id="c_logo" placeholder="Company logo*">
                                                    </div>
                                                    <div class="file-path-wrapper">
                                                        <input class="file-path validate" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="input-field col s12">
                                                <button class="btn cyan waves-effect waves-light left" type="submit" name="action">Submit
                                                    <i class="material-icons right">send</i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="contact-overlay"></div>
                                <div style="bottom: 54px; right: 19px;" class="fixed-action-btn direction-top active">
                                    <a class="btn-floating btn-large primary-text gradient-shadow contact-sidebar-trigger" href="#modal1">
                                        <i class="material-icons">person_add</i>
                                    </a>
                                </div>
                                <!--  Contact sidebar -->
                                <div class="contact-compose-sidebar ps">
                                    <div class="card quill-wrapper">
                                        <div class="card-content pt-0">
                                            <div class="card-header display-flex pb-2">
                                                <h3 class="card-title contact-title-label">Edit Profile</h3>
                                                <h7 class="card-title contact-title-label">Please Fill in all</h7>
                                                <div class="close close-icon">
                                                    <i class="material-icons">close</i>
                                                </div>
                                            </div>
                                            <div class="divider"></div>
                                            <!-- form start -->
                                            <form class="edit-contact-item mb-5 mt-5" method="POST" action="{{url_for('Update_Profile')}}" enctype="multipart/form-data">
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <i class="material-icons prefix">person_add</i>
                                                        <input id="first_input3" type="text"  name="c_Name">
                                                        <label for="first_input3" >Company Name</label>
                                                    </div>
                                                    <div class="input-field col s12">
                                                        <i class="material-icons prefix">email</i>
                                                        <input id="c_Email" type="email" name="c_Email">
                                                        <label for="c_Email"  >E-Mail *</label>
                                                    </div>
                                                    <div class="input-field col s12">
                                                        <i class="material-icons prefix">place</i>
                                                        <input id="c_Address" type="text" name="c_Address">
                                                        <label for="c_Address" >Address *</label>
                                                    </div>
                                                    <div class="input-field col s12">
                                                        <i class="material-icons prefix">work</i>
                                                        <input  type="text" maxlength="9" size="9" id="c_Nssf" name="c_Nssf" >
                                                        <label for="c_Nssf" >Company NSSF Number *</label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <i class="material-icons prefix">assessment</i>
                                                        <input type="text" maxlength="10" size="10" name="c_Tin" id="c_Tin"  >
                                                        <label for="c_Tin" >Company Tin *</label>
                                                    </div>
                                                    <div class="input-field col s12">
                                                        <i class="material-icons prefix">phone</i>
                                                        <input  id="c_Tel"  name="c_Tel"   type="number" min="0" max="99999"  maxlength="10" class=" zipcode-number">
                                                        <label for="c_Tel"  >Telephone *</label>
                                                    </div>
                                                    <div class="input-field col s12">
                                                        <div class="file-field input-field">
                                                            <div class="btn btn-light-blue">
                                                                <span>Upload</span>
                                                                <input type="file" name="Image" accept="image/*" id="c_logo" placeholder="logo*">
                                                            </div>
                                                            <div class="file-path-wrapper">
                                                                <input class="file-path validate" type="text">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-action pl-0 pr-0 right-align">
                                                <button class="btn-small waves-effect waves-light add-contact">
                                                    <span>Update</span>
                                                </button>
                                            </div>
                                            </form>
                                            <!-- form start end-->
                                        </div>
                                    </div>
                                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                                        <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;">
                                        </div>
                                    </div>
                                    <div class="ps__rail-y" style="top: 0px; right: 0px;">
                                    </div>
                                    </div>
                                <!-- START RIGHT SIDEBAR NAV -->
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m12 l6">
                        <div id="html-validations" class="card-panel">
                            <div class="card-content">
                                <div class="card-title">
                                    <div class="row">
                                        <div class="col s12 m6 l10">
                                            <h4 class="card-title">Set Working Days</h4>
                                        </div>
                                        <div class="col s12 m6 l2">

                                        </div>
                                    </div>
                                </div>
                                <div id="html-view-validations">
                                    <form class="formValidate0" id="formValidate0" method="POST" action="{{url_for('working_days')}}" enctype="multipart/form-data">
                                        <div class="row">
                                            <div class="container">
                                                <h5>Sunday</h5>
                                                <div class="switch">
                                                    <label>
                                                        No
                                                        <input type="checkbox" name="day" value="Sunday">
                                                        <span class="lever"></span>Yes
                                                    </label>
                                                </div>
                                                <h5>Monday</h5>
                                                <div class="switch">
                                                    <label>
                                                        No
                                                        <input type="checkbox" name="day" value="Monday">
                                                        <span class="lever"></span>Yes
                                                    </label>
                                                </div>
                                                <h5>Tuesday</h5>
                                                <div class="switch">
                                                    <label>
                                                        No
                                                        <input type="checkbox" name="day" value="Tuesday">
                                                        <span class="lever"></span>Yes
                                                    </label>
                                                </div>
                                                <h5>Wednesday</h5>
                                                <div class="switch">
                                                    <label>
                                                        No
                                                        <input type="checkbox" name="day" value="Wednesday">
                                                        <span class="lever"></span>Yes
                                                    </label>
                                                </div>
                                                <h5>Thursday</h5>
                                                <div class="switch">
                                                    <label>
                                                        No
                                                        <input type="checkbox" name="day" value="Thursday">
                                                        <span class="lever"></span>Yes
                                                    </label>
                                                </div><h5>Friday</h5>
                                                <div class="switch">
                                                    <label>
                                                        No
                                                        <input type="checkbox" name="day" value="Friday">
                                                        <span class="lever"></span>Yes
                                                    </label>
                                                </div>
                                                <h5>Saturday</h5>
                                                <div class="switch">
                                                    <label>
                                                        No
                                                        <input type="checkbox" name="day" value="Saturday">
                                                        <span class="lever"></span>Yes
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="input-field col s12">
                                                <button class="btn cyan waves-effect waves-light right" type="submit" name="action">Submit
                                                    <i class="material-icons right">send</i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
