{% extends "base_finance.html" %}
{% block title %}Finance{% endblock title%}
{% block content %}
    <!-- BEGIN: Page Main-->
    <div id="main">
        <div class="row">
{#            <div class="contentt-wrapper-before gradient-45deg-indigo-purple"></div>#}
            <div class="col s12">
                <div class="container">
                   
                    <!-- Sidebar Area Ends -->
                    <!-- Content Area Starts -->
                    <!-- <div class="content-area content-right"> -->
                        <div class="app-wrapper">
                            <h5>Employee Salary Structures</h5>
                            <!-- <div class="datatable-search"> -->
{#                                 <th></th>#}
{#                                                <th></th>#}
{#                                                <th></th>#}
{#                                                <th></th>#}
{#                                                <th></th>#}
{#                                                <th></th>#}
{#                                                <th></th>#}
{#                                                <th></th>#}
{#                                                <th></th>#}
{#                                                <th></th>#}
{#                                                <th>Action</th>    #}
                            </div>
                    <table  cellpadding="0" cellspacing="0" border="0" class="">
                    <thead>
                        <tr role="row" style="background-color: #1e1a9c;color: white;">
                            <th >
                                Employee Name
                            </th>
                            <th>
                                month
                            </th>
{#                            <th class="sorting" tabindex="0" aria-controls="data-table-simple" rowspan="1" colspan="1" style="width: 101px;" aria-label="Office: activate to sort column ascending">#}
{#                                year#}
{#                            </th>#}
{#                            <th class="sorting" tabindex="0" aria-controls="data-table-simple" rowspan="1" colspan="1" style="width: 40px;" aria-label="Age: activate to sort column ascending">#}
{#                                Allowances#}
{#                            </th>#}
                            <th >
                                GrossPay
                            </th>
                            <th >
                                Nssf Contribution
                            </th>
                            <th >
                                Paye
                            </th>
{#                            <th class="sorting" tabindex="0" aria-controls="data-table-simple" rowspan="1" colspan="1" style="width: 82px;" aria-label="Salary: activate to sort column ascending">#}
{#                                Other Deductions#}
{#                            </th>#}
                            <th >
                                Total Deductions
                            </th>
                            <th >
                                NetPay
                            </th>
                            <th >
                                Action
                            </th>
                        </tr>
                    </thead>
{##}
{#                    <tfoot>#}
{#                        <tr><th rowspan="1" colspan="1">Name</th><th rowspan="1" colspan="1">Position</th><th rowspan="1" colspan="1">Office</th><th rowspan="1" colspan="1">Age</th><th rowspan="1" colspan="1">Start date</th><th rowspan="1" colspan="1">Salary</th></tr>#}
{#                    </tfoot>#}

                    <tbody>
                     {% for df in sql_rows %}
                                                    <tr>
                                                        <tr><td>{{df[1]}}</td><td>{{df[2]}}</td><td>{{df[5]}}</td><td>{{df[8]}}</td><td>{{df[9]}}</td><td>{{df[12]}}</td><td>{{df[13]}}</td>
                                                        <td>
                                <form>
                                    <input type="hidden" value="" name="">
                                    <button type="submit" class="btn-floating btn waves-effect waves-light red">
                                        <i class="material-icons text-success">delete</i>
                                    </button>
                                </form>
                            </td>
                                                    </tr>
                                                {% endfor %}</tbody>
                  </table>
{#                                        <div class="dataTables_scroll">#}
{#                                        <div class="dataTables_scrollHead" style="overflow: hidden; position: relative; border: 0px none; width: 100%;">#}
{#                                            <div class="dataTables_scrollHeadInner" style="box-sizing: content-box; width: 712.05px; padding-right: 12px;">#}
{#                                            </div>#}
{#                                        </div>#}
{#                                       <div class="dataTables_scrollBody ps ps--active-x ps--active-y"#}
{#                                                ><table id="data-table-contact"#}
{#                                                       class="display dataTable no-footer dtr-inline collapsed"#}
{#                                                        role="grid"#}
{#                                                       aria-describedby="data-table-contact_info" style="height:10px;">#}
{#                                            <thead>#}
{#                                            <tr >#}
{#                                                #}
{#                                                <th>Employee Name</th>#}
{#                                                <th>month</th>#}
{#                                                <th>year</th>#}
{#                                                <th>Allowances</th>#}
{#                                                <th>GrossPay</th>#}
{#                                                <th>Nssf Contribution</th>#}
{#                                                <th>PAYE</th>#}
{#                                                <th>Other Deductions</th>#}
{#                                                <th>Total Deductions</th>#}
{#                                                <th>NetPay</th>#}
{#                                                <th>Action</th>    #}
{#                                            </tr>#}
{#                                            </thead>#}
{#                                                <tbody>#}
{#                                                {% for df in sql_rows %}#}
{#                                                    <tr>#}
{#                                                        <tr><td>{{df[1]}}</td><td>{{df[2]}}</td><td>{{df[3]}}</td><td>{{df[4]}}</td><td>{{df[5]}}</td><td>{{df[8]}}</td><td>{{df[9]}}</td><td>{{df[11]}}</td><td>{{df[12]}}</td><td>{{df[13]}}</td><td>#}
{#                                                         <form>#}
{#                                                                <input type="hidden" value="" name="">#}
{#                                                                <button type="submit" class="btn-floating btn waves-effect waves-light red">#}
{#                                                                    <i class="material-icons blue-grey-text">delete</i>#}
{#                                                                </button>#}
{#                                                            </form></td>#}
{#                                                    </tr>#}
{#                                                {% endfor %}#}
{#                                                </tbody>#}
{#                                            </table>#}
{#                                        <div class="dataTables_info" id="data-table-contact_info" role="status" aria-live="polite">Showing 16 to 29 of 29 entries</div>#}
{#                                        <div class="dataTables_paginate paging_simple_numbers" id="data-table-contact_paginate">#}
{#                                            <a class="paginate_button previous" aria-controls="data-table-contact" data-dt-idx="0" tabindex="0" id="data-table-contact_previous">Previous</a>#}
{#                                            <span><a class="paginate_button " aria-controls="data-table-contact" data-dt-idx="1" tabindex="0">1</a>#}
{#                                                <a class="paginate_button current" aria-controls="data-table-contact" data-dt-idx="2" tabindex="0">2</a>#}
{#                                            </span>#}
{#                                            <a class="paginate_button next disabled" aria-controls="data-table-contact" data-dt-idx="3" tabindex="-1" id="data-table-contact_next">Next</a></div>#}
{#                                    </div>#}
{#                                </div>#}
                            </div>
                        </div>
                    </div>
<!-- Content Area Ends -->
          <div class="content-overlay"></div>
        </div>
      </div>
    </div>
    </div>
    <!-- END: Page Main-->
{% endblock %}